:root{
    --check-var: 4000px;
    --font-family-headers: 'Crimson Text', serif;
    --font-family-body: 'Cantarell', serif;
}
body {
    background: #EFEFEF;
    font-family: var(--font-family-body);
    // width: var(--check-var);
    // lost-column: 1/12;
}
a{
    color: purple;
}
h2{
    font-family: var(--font-family-headers);
}

//Large Desktop
@media (min-width: 1170px) {
}

//Medium Desktop
@media (min-width: 970px) {

}

//Tablets
@media (min-width: 768px) {

    .container{
        background-color: white;
        margin: 0 auto;
        padding: 20px;
        width: 700px;
    }

}

//Small Devices
@media (max-width: 768px) {

}