:root{
    --check-var: 4000px;
    --font-family-headers: 'Crimson Text', serif;
    --font-family-body: 'Cantarell', serif;
}
body {
    background: #1F1F1F;
    font-family: var(--font-family-body);
    // width: var(--check-var);
    // lost-column: 1/12;
}
.container{
    background: white;
    margin-left: 25%;
    lost-column: 6/12;
}
h2{
    font-family: var(--font-family-headers);
}