:root{
    --check-var: 4000px;
    --font-family-headers: 'Crimson Text', serif;
    --font-family-body: 'Cantarell', serif;
}
body {
    background: #EFEFEF;
    font-family: var(--font-family-body);
    /*margin: 0;*/
}
a{
    color: purple;
}
h2{
    font-family: var(--font-family-headers);
}

/* Large Desktop */
@media (min-width: 1170px) {
    .container{
        background-color: white;
        padding: 20px;
        lost-center: 700px;
    }

}

/* Medium Desktop */
@media (min-width: 970px) and (max-width: 1169px) {

    .container{
        background-color: white;
        padding: 20px;
        lost-center: 600px;
    }

}

/* Tablets */
@media (min-width: 768px) and (max-width: 969px) {

    .container{
        background-color: white;
        padding: 20px;
        lost-center: 500px;
    }

}

/* Small Devices */
@media (max-width: 768px) {
    .container{
        background-color: white;
        padding: 20px;
        lost-center: 400px;
    }
}