<!DOCTYPE html>
<html>
  <head>
    <title>Madison Sharps Personal Site Built on Node, Express, React, EJS, </title>
  </head>

  <body>
  <%- markup %>
    Welcome!
    <a href="/twitter">Twitter API Data Call</a>
    <a href="/strava">Strava API Data Call</a>
  </body>
</html>