<% include ./header.ejs %>
<div id="app"><%- markup %></div>

<div class="strava-container">
<h2>Strava Results for Madison's Recent Rides</h2>

<ul>
<li>
	<h3>Number of Recent Rides:</h3>
	<h4><%= results.recent_ride_totals.count %></h4>
</li>
<li>
	<h3>Distance of Recent Rides:</h3>
	<h4><%= results.recent_ride_totals.distance %> Meters</h4>
</li>
<li>
	<h3>Elevation Gain of Recent Rides:</h3>
	<h4><%= results.recent_ride_totals.elevation_gain %> Meters</h4>
</li>

</ul>
</div>
<% include ./footer.ejs %>
