<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Strava Results for Madison's Recent Rides</h2>

<ul>
<li>
	<h3>Number of Recent Rides:</h3>
	<h4><%= results.recent_ride_totals.count %></h4>
</li>
<li>
	<h3>Distance of Recent Rides:</h3>
	<h4><%= results.recent_ride_totals.distance %> Meters</h4>
</li>
<li>
	<h3>Elevation Gain of Recent Rides:</h3>
	<h4><%= results.recent_ride_totals.elevation_gain %> Meters</h4>
</li>

</ul>
</div>

</body>
</html>
