<% include ./header.ejs %>
<div id="app"><%- markup %></div>
<div>
<h2>Twitter Results for #feelthebern within 1000 miles of Birmingham</h2>
<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.text %></li>
    <% }); %>
</ul>
</div>
<% include ./footer.ejs %>