<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Twitter Results</h2>


<ul>
    <%= results %>
</ul>

</div>

</body>
</html>
